.calculator-body {
	max-width : 25rem ;
}
.calculator-body > .result {
	height : 60px ;
	width : 100% ;
	color : #fff ;
	border : 1px solid #333 ;
	font-size : 3rem ;
}
.calculator-body > div > button {
	width : 25% ;
	height : 60px ;
	font-size : 30px ;
	border : 1px solid #333 ;
	background : inherit ;
	color : inherit ;

	&:hover {
		background : #333 ;
		color : #fff ;
	}
}
@media only screen and (max-width: 800px ){
	.calculator-body {
		max-width : 100% ;
		& > div > button {
			font-size : 5vw ;
		}
	}
}
