.tictactoe {
	background : black ;
	font-size : 16px ;
	display : flex ;
}
.tictactoe-info {
	margin-left: 10px ;
}
.tictactoe-turn {
	color : white ;
}
.tictactoe-board {
	width : 500px ;
	padding-left : 5px ;
	padding-bottom : 5px ;
}
.tictactoe-board-row:after {
	clear: both;
	display: table;
}
.tictactoe-square {
	width: 33% ;
	padding-bottom : 20% ;
	padding-top : 12% ;
	background : black ;
	color : grey ;
	border: 1px solid grey ;
	float: left;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	text-align: center;
	font-size : 150px ;
}
.tictactoe-square:hover {
	background : #444444 ;
}
.tictactoe-moves {
	flex-grow : 1 ;
	font-size : 16px ;
}
.tictactoe-history {
	border-width : 0 ;
	width : 100% ;
	background : #222222 ;
	color : white ;
	text-align : left ;
}
.tictactoe-history:hover {
	background : #444444 ;
	color : white ;
}
.player-turn {
	margin-bottom : 5px ;
	width : 120px ;
	font-size : 16px ;
}
.moves {
	padding-left : 20px ;
}
@media only screen and (max-width: 800px ){
	.tictactoe {
		flex-direction : column ;
		.tictactoe-board {
			width : 100% ;
			.tictactoe {
				display : block ;
			}
			.tictactoe-square {
				font-size : 30vw ;
				padding-bottom : 22% ;
				padding-top : 10% ;
			}
		}
	}
}
