doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Toy
	link(rel='stylesheet' href='/toy/public/styles/dark.css')
	link(rel='stylesheet' href='/toy/public/styles/tictactoe.css')
	link(rel='stylesheet' href='/toy/public/styles/calculator.css')
body
	h1 Toys
	p
		| These are just some simple apps that I built while learning
		| new technologies.
	h2 Timer
	div#clock
	p
		| A timer that I implemented using react. I wrote this while learning
		| how react states and properties worked.
	h2 Tic Tac Toe
	p
		| This is an implementation of tic-tac-toe with the game's
		| history recorded in the browser. This is my run through of
		a(href='https://reactjs.org/tutorial/tutorial.html')
			|  a tutorial on reactjs.
		|  My source code is on my
		a(href='https://gitlab.com/dcastellon0001/toy')  gitlab.
	div#tictactoe
	h2 Name Store
	p
		| I wrote this while trying to understand how to integrate
		| ajax forms with express and mongodb. It's basically a search
		| bar that triggers two events. The first event is, whenever
		| a button is released, the input in the search is sent to the server
		| and is regex matched with all entries in the database.
		| The second event is, whenever the form is submitted, the
		| text in the search bar is sent to the server and recorded
		| if not already recorded.
	form#word-store
	h2 Calculator
	p
		| This is an implementation of a calculator using react.
	div#calculator
	div#Logger
	h2 Create User
	div#CreateUser
	script(type='text/javascript' src='/toy/public/scripts/toys.js')
